
<app-table [headers]="headers" [data]="students"></app-table>

<!-- <a routerLink="/student/add">add</a>
<table border=1>
  <tr>
    <td>Id<td>
    <td>FName<td>
    <td>LName<td>
    <td>Age<td>
    <td>Address<td>
  </tr>
    <tr *ngFor="let student of students">
        <td>{{student.id}}<td>
        <td>{{student.fname}}<td>
        <td>{{student.lname}}<td>
        <td>{{student.age}}<td>
        <td>{{student.address}}<td>
            <button type="button" routerLink="/student/edit/{{student.id}}">Edit</button>
            <button type="submit" (click)="deleteStudent(student.id)">Delete</button>
      </tr>

</table> -->

